html, body {
    min-width: 320px;
}
#pageContent {
    background: inherit;
}
.tab-pane {
    min-height: 500px;
}

.tab-content-custom {
    border: 1px solid #ddd !important;
    border-top: none !important;
}

.tab-content-custom > .tab-pane {
    min-height: inherit !important;
}

#loader {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#loader img {
    position: inherit;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background: #fff;
}
nav.navbar.navbar-default {
    padding: 5px;
    border-radius: 0 0 4px 4px;
}
#adminBtn:not(.show) {
    display: none;
}
.tab-content,
#pageContent > .container-fluid + div {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    background: white;
    border-width: 0;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
}

.ui-widget {
    font-size: 90%;
}

.well-nested {
    background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(1, 90, 129, 0.4);
}

#combineDownload:not(.show),
#messageBoard:not(.show),
#inputHelp:not(.show),
#calcProgressbar:not(.show),
#Interactive:not(.show),
#Batch:not(.show),
#loader:not(.show),
fieldset.well ~ fieldset.well:not(.show) {
    display: none;
}
#HelpIcon,
.downloadIcon {
    padding: 6px 0px;
}
input.input:valid {
    background: #DAFADA;
}

.steps {
    background: #3073ad;
    padding: 20px 10px;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.plotly {
    width: 100%;
}

table td,
table th {
    text-align: left;
}

table.dataTable tbody td {
    padding-left: 18px;
    padding-right: 18px;
}

table.summaryTables thead tr th {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

table.summaryTables thead tr:first-child th {
    color: #FFF;
    background: #606c88;
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0);
}

#correlationSummary_wrapper.dataTables_wrapper .dataTables_length {
    line-height: 26px;
    margin-right: 2em;
}
#correlationSummary_wrapper.dataTables_wrapper .dataTables_filter {
    float: left;
}
#correlationSummary_wrapper.dataTables_wrapper .dt-buttons {
    float: right;
}

th,
td {
    padding: 8px 18px;
}

td input:not([type="checkbox"]),
th input:not([type="checkbox"]) {
    min-width: 20px;
    width: 100%;
}

hr {
    margin: 10px auto;
}

.progress {
    margin: 10px 0;
}

#messageDiv p {
    color: red;
}
label em {
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
}
input.error:before,
select.error:before {
    content: "*";
    color: red;
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.3em;
    float: left;
    padding: 0 10px;
}

input.error,
select.error {
    border: 2px solid #fc7878;
    background: rgba(255, 0, 0, 0.25);
}

label span.glyphicon {
    font-size: 11px;
    vertical-align: middle;
}

#resultsDownload {
    margin-bottom: 20px;
}
label[for="showMetabolites"] {
    font-weight: normal;
}
label[for="showMetabolites"] input {
    display: inline-block;
    vertical-align: top;
}
label[for="showMetabolites"] div {
    display: inline-block;
}
.required {
    color:#a20000;
    font-weight: bolder;
}
.axisLegend {
    text-align: center;
    margin-top: 20px;
    border:1px solid lightgray;
    padding-top:5px;
    padding-bottom:5px;
    font-style: italic;
}
@media (min-width: 780px) {
    #toc {
        float: left;
        margin-top: 20px;
        padding-right: 3em;
    }
    #help-content {
        margin: 0px auto;
        max-width: 1080px;
        overflow: hidden;
    }
}
.col-xs-12.steps {
    margin: 0px 15px;
}
fieldset.well {
    background-color: #F5F5F5;
    background-image: none;
}
fieldset label {
  width: 100%;
}
fieldset label[for="whereCategory"] {
  float: left;
  margin-right: -5em;
}
#whereClear {
  width: 5em;
}
@media (min-width: 992px) {
    .col-md-1.steps {
        margin-right: 0px;
    }
}
.pvalue, .corr {
    display: block;
}
.pvalue > span.show,
.corr > span.show {
    display: inline !important;
}
.pvalue > span:not(.show),
.corr > span:not(.show) {
    display: none;
}
.navbar {
    margin-bottom: 0px;
}
#inputDataFile[disabled] {
    color: #CCC;
}
#cohortSelection[disabled] {
    border-color: #CCC;
    color: #CCC;
    cursor: not-allowed;
}
#correlationSummary {
    overflow-x: auto;
}
#correlationSummary table {
    border-bottom: 1px solid #111;
    clear: both;
    width: 100%;
}
#correlationSummary thead th,
#correlationSummary thead td {
    border-bottom: 1px solid #111;
    padding: 10px 18px;
}
.bootstrap-dialog-message table {
    width: 100%;
    border-bottom: 1px solid #000;
}
.bootstrap-dialog-message table button {
    padding: 6px;
}
.bootstrap-dialog-message thead th,
.bootstrap-dialog-message thead td {
    border: solid #111;
    border-width: 1px 0px;
    padding: 10px 18px;
}
.bootstrap-dialog-message th:last-child,
.bootstrap-dialog-message td:last-child {
    width: 6em;
    text-align:center;
}
#correlationSummary thead tr:last-child th:not(.borderless),
#correlationSummary thead tr:last-child td:not(.borderless) {
    background-image: url('../images/sort.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    cursor: pointer;
}
#correlationSummary thead tr:last-child th.asc,
#correlationSummary thead tr:last-child td.asc {
    background-image: url('../images/sort_asc.svg');
}
#correlationSummary thead tr:last-child th.dsc,
#correlationSummary thead tr:last-child td.dsc {
    background-image: url('../images/sort_dsc.svg');
}
#correlationSummary .form-inline {
    padding: 20px 0px;
}
#correlationSummary .form-inline > div {
    float: left;
    margin-right: 1em;
}
#correlationSummary .form-inline > div:last-child {
    float: right;
}
#correlationButtons {
    padding: 6px 12px;
}
#correlationButtons a {
    padding: 6px 12px;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    color: #000;
    white-space: nowrap;
    background-color: #e9e9e9;
}
#correlationButtons a:hover,
#correlationButtons a:visited {
    text-decoration: none;
    background-color: #e0e0e0;
}
#correlationButtons a:active {
    background-color: #e2e2e2;
}
#pagingRow > div {
    padding: 12px 0px;
}
#pagingRow ul {
    list-style: none;
    margin: -12px 0px;
    padding-left: 0px;
}
#pagingRow li {
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    min-width: 1.5em;
    padding: 6px 12px;
}
#pagingRow li:hover,
#pagingRow li.active {
    background: #585858;
    border: 1px solid #111;
}
#pagingRow li:hover,
#pagingRow li.active {
    background: none;
    border: 1px solid transparent;
}
#pagingRow li a {
    background: #FFF;
    border: 1px solid #DDD;
    color: #337ab7;
    cursor: pointer;
    display: block;
    line-height: 1.42857143;
    padding: 6px 12px;
    text-decoration: none;
}
#pagingRow li.active a {
    background: #337ab7;
    border-color: #337ab7;
    color: #FFF;
    cursor: default;
}
#pagingRow li.disabled a {
    color: #777;
    cursor: not-allowed;
}
#correlateHeatmap {
    margin-left: 50px;
}
.modal-dialog .fixed-right {
    position: relative;
    margin-right:10em;
}
.modal-dialog .fixed-right button {
    position: absolute;
    right: -10em;
    top: 0px;
    width: 8em;
}
.modal-dialog input {
    width: 100%;
}
input.min, input.max {
    max-width: 45%;
}


.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.mr-40 {
    margin-right: 40px;
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

#search-results_paginate .pagination {
    margin-top: 0;
    margin-bottom: 0;
}