html, body {
    min-width: 320px;
}
header {
    margin: 0px;
    padding: 0px 15px;
}
header img {
    width: 500px;
    max-width: 100%;
}
#page-head {
    color: #FFF;
    font-size: 14pt;
    background: #2A71A5;
    padding: 5px 0 5px 10px;
}
#logoutBtn {
    color: #9CF;
    float: right;
    margin-left: 1em;
    width: 4em;
}
strong {
    color: #EC7A26;
}
#pageContent > .container-fluid {
    margin-bottom: 2em;
}
.tab-content.tab-border {
    border: 1px solid #000;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
    border-top: 0px;
    overflow: auto;
    padding: 15px;
}
select.disabled {
    background: #EBEBE4;
}