<legend class="sr-only">Map Variables</legend>
<%  for (var varname in varmap) { %>
<div class="form-group" title="<%=data[varname]%>">
    <label for="<%=varname%>">Select <%=varname%></label>
    <div class="row">
        <div class="col-xs-12">
            <select name="<%=varname%>" id="<%=varname%>" class="form-control col-xs-12">
<%=template({
    "optionType": varname,
    "optionList": varname=="metabolite_id" ? metadata : sample,
    "selectedOption": varmap[varname]
}) %>
            </select>
        </div>
    </div>
</div>
<%  } %>