<% if (status) { %>
    <h3>Correlation Results</h3>
    <div id="resultStatus" class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <%= statusMessage %>
    </div>
    <div id="correlationSummary" class="col-md-12">
        <div class="form-inline">
            <div>
                <label>
                    <span>Show </span>
                    <select name="entryCount" class="form-control input-sm">
                        <option value="10"<%= entryCount==10?" selected":"" %>>10</option>
                        <option value="25"<%= entryCount==25?" selected":"" %>>25</option>
                        <option value="50"<%= entryCount==50?" selected":"" %>>50</option>
                        <option value="100"<%= entryCount==100?" selected":"" %>>100</option>
                    </select>
                    <span> entries</span>
                </label>
            </div>
            <div id="correlationButtons">
                <a id="summaryDownload" href="#">Download Results in CSV</a>
                <a id="customList" href="#">Create Custom Metabolite List</a>
            </div>
        </div>
        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <th class="borderless"></th>
                    <% _.each(tableOrder,function(element,key,list) { %>
                        <th>
                            <% if (element == "pvalue" || element == "corr") { %>
                                <input name="<%= element %>" type="text" placeholder="Min" aria-label="Minimum <%= element %>" class="min" /> - <input name="<%= element %>" class="max" type="text" placeholder="Max" aria-label="Maximum <%= element %>" />
                            <% } else { %>
                                <input name="<%= element %>" type="text" placeholder="Search <%= element %>" aria-label="Search <%= element %>" />
                            <% } %>
                        </th>
                    <% }); %>
                </tr>
                <tr>
                    <th class="borderless text-center"><input type="checkbox" name="all"/></th>
                    <% _.each(tableOrder,function(element,key,list) { %>
                        <th><%= element %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <!-- Row generation done in javascript, not underscore templates, due to memory concerns. -->
            </tbody>
        </table>
        <div id="pagingRow" class="form-inline"></div>
    </div>
<% } else if (status !== null && statusMessage) { %>
    <div id="resultStatus" class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <%= statusMessage %>
    </div>
<% } %>