<% if (status) { %>
    <h3>Correlation Results</h3>
    <div id="resultStatus" class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <%= statusMessage %>
    </div>
    <div style="overflow-x:auto;" class="col-md-12">
        <table id="correlationSummary" class="table-striped table-hover">
            <thead>
                <tr>
                    <% _.each(tableOrder,function(element,key,list) { %>
                        <th>
                            <% if (element == "pvalue" || element == "corr") { %>
                                <span class="<%= element %>">
                                    <span>
                                        <input type="text" id="<%= element %>min" placeholder="Min" aria-label="Minimum <%= element %>" /> - <input id="<%= element %>max" type="text" placeholder="Max" aria-label="Maximum <%= element %>" />
                                    </span>
                                    <span class="show">
                                        <input type="text" placeholder="Search <%= element %>" aria-label="Search <%= element %>" />
                                    </span>
                                </div>
                                <img src="public/images/toggle.png" alt="toggle range search"/>
                            <% } else { %>
                                <input type="text" placeholder="Search <%= element %>" aria-label="Search <%= element %>" />
                            <% } %>
                        </th>
                    <% }); %>
                </tr>
                <tr>
                    <% _.each(tableOrder,function(element,key,list) { %>
                        <th><%= element %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <!-- Row generation done in javascript, not underscore templates, due to memory concerns. -->
            </tbody>
        </table>
    </id>
<% } else if (status !== null && statusMessage) { %>
    <div id="resultStatus" class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <%= statusMessage %>
    </div>
<% } %>