<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="form-group">
            <label for="sortRow">Sort rows:</label>
            <select id="sortRow" class="form-control">
                <option value="Alphabetic (asc)"<%= sortRow == "Alphabetic (asc)" ? "selected" : "" %>>Alphabetic (asc)</option>
                <option value="Alphabetic (desc)"<%= sortRow == "Alphabetic (desc)" ? "selected" : "" %>>Alphabetic (desc)</option>
                <% _.each(exposures,function(exposure,key,list) { %>
                    <option value="<%= exposure %>"<%= sortRow == exposure ? "selected" : "" %>><%= exposure %></option>
                <% }); %>
            </select>
        </div>

        <div class="form-group">
            <label for="plotHeight">Plot height:</label>
            <input id="plotHeight" class="form-control" value="<%= plotHeight %>" type="number" min="200" max="9000" />
        </div>
    </div>
</div>
<hr />
<div id="correlateHeatmap"></div>