<% if(correlationRun) { %>
    <p>The heatmap below displays EXPOSUREs on the y axis and OUTCOMEs on the x axis.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="sortRow">Outcomes Sort By:</label>
            <select id="sortRow" class="form-control"<%= clusterResults ? " disabled" : "" %>>
                <% _.each(exposures,function(exposure,key,list) { %>
                    <option value="<%= exposure %>"<%= sortRow == exposure ? "selected" : "" %>><%= exposure %></option>
                <% }); %>
                <option value="Metabolite Name (A-Z)"<%= sortRow == "Metabolite Name (A-Z)" ? " selected" : "" %>>Metabolite Name (A-Z)</option>
                <option value="Metabolite Name (Z-A)"<%= sortRow == "Metabolite Name (Z-A)" ? " selected" : "" %>>Metabolite Name (Z-A)</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="plotColorscale">Palette:</label>
            <select id="plotColorscale" class="form-control">
                <% _.each(colorscales,function(colorscale,key,list) { %>
                    <option value="<%= colorscale %>"<%= plotColorscale == colorscale ? "selected" : "" %>><%= colorscale %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="plotHeight">Plot height:</label>
            <input id="plotHeight" class="form-control" value="<%= plotHeight %>" type="number" min="200" max="9000" step="10" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="plotWidth">Plot width:</label>
            <input id="plotWidth" class="form-control" value="<%= plotWidth %>" type="number" min="200" max="9000" step="10" />
        </div>
    </div>
    <hr />
    <panel>       
        <label class="checkbox-inline col-xs-12 col-sm-6 col-md-3" for="displayAnnotations">
            <input type="checkbox" id="displayAnnotations">Display annotations
        </label>    
        <label class="checkbox-inline col-xs-12 col-sm-6 col-md-3" for="clusterResults">
            <input type="checkbox" id="clusterResults"<%= clusterResults ? " checked" : "" %><%= Object.keys(clustersort||{}).length > 0 ? "" : " disabled" %>/>Show hierarchical clustering
        </label>        
    </panel>    
    <div id="correlateHeatmap"></div>
<% } %>