<% if (status) { %>
    <h3>Integrity Check Results</h3>
    <div id="resultStatus" class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <%= statusMessage %>
    </div>
    <button type="button" id="resultsDownload" class="btn btn-default pull-right"><span class="glyphicon glyphicon-download"></span> Download Results</button>
    <table id="inputDataSummary" class="table table-bordered table-condensed summaryTables">
        <thead>
            <tr>
                <th colspan="3">Input Data Summary</th>
            </tr>
            <tr>
                <th>Metabolites sheet</th>
                <th>Subject data sheet</th>
                <th>Subject metabolites sheet</th>
            </tr>
        </thead>
        <tr>
            <%  _.each(inputDataSummary,function(summaryData) { %>
                <td>
                    <%= summaryData %>
                </td>
                <% }); %>
        </tr>
    </table>
    <h3>Harmonization Summary</h3>
    <table id="harmSummary" class="table table-bordered table-condensed summaryTables">
        <thead>
            <tr>
                <th colspan="5">Harmonization Summary</th>
            </tr>
            <tr>
                <th>N Metabolites</th>
                <th>N Harmonized</th>
                <th>N Non-Harmonized</th>
                <th>N with zero variance</th>
                <th>N with > 25% at min</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <%  _.each(metaboliteSummary,function(summaryData) { %>
                    <td><%= summaryData %></td>
                <% }); %>
            </tr>
        </tbody>
    </table>
    <div id="varianceDist"></div>
    <div id="subjectDist"></div>

    <div id="varianceDist">
    </div>
    <div id="subjectDist">
    </div>
    <p>Run date: <%=  dateRun %></p>
<% } else if (status !== null && statusMessage) { %>
    <div id="resultStatus" class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <%= statusMessage %>
    </div>
<% } %>