<h3>Integrity Check Results</h3>

<% if (status) { %>
    <div id="resultStatus" class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <%= statusMessage %>
    </div>
    <div class="button-group">
        <button type="button" id="resultsDownload" class="btn btn-default btn-block"><span class="glyphicon glyphicon-download"></span> Download results and send to COMETS harmonization group</button>
    </div>
    <h3>Input Data Summary</h3>
    <table id="inputDataSummary" class="table table-bordered table-condensed">
        <tr>
            <th>Metabolites sheet</th>
            <th>Subject data sheet</th>
            <th>Subject metabolites sheet</th>
        </tr>
        <tr>
            
            <%  _.each(summary.inputDataSummary,function(summaryData) { %>
               <td><%= summaryData %></td>
            <% }); %>
        </tr>
    </table>

    <h3>Harmonization Summary</h3>
    <table id="harmSummary" class="table table-bordered table-condensed">
        <tr>
            <th>N Metabolites</th>
            <th>N Harmonized</th>
            <th>N Non-Harmonizaed</th>
            <th>N with zero variance</th>	
            <th>N with >25% at min</th>
        </tr>
        <tr>
            <%  _.each(summary.metaboliteSummary,function(summaryData) { %>
               <td><%= summaryData %></td>
            <% }); %>
        </tr>
    </table>

    (Place Graphs Here)

    <p>Run date:
        <%=  dateRun %>
    </p>
    <% } %>

<% if (!status) { %>
    <div id="resultStatus" class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <%= statusMessage %>
    </div>
<% } %>